apiVersion: v1
kind: ServiceAccount
metadata:
    name: aiops-topology-service-account
    namespace: {{ WAIOPS_NAMESPACE }}
    labels:
        managedByUser: 'true'
imagePullSecrets:
- name: ibm-entitlement-key